<div *ngIf="rateVal < 1" class="star1" (click)="rate(1)" ></div>
<div *ngIf="rateVal >= 1"class="star2" (click)="rate(1)"></div>
<div *ngIf="rateVal < 2" class="star1" (click)="rate(2)"></div>
<div *ngIf="rateVal >= 2"class="star2" (click)="rate(2)"></div>
<div *ngIf="rateVal < 3" class="star1" (click)="rate(3)"></div>
<div *ngIf="rateVal >= 3"class="star2" (click)="rate(3)"></div>
<div *ngIf="rateVal < 4" class="star1" (click)="rate(4)"></div>
<div *ngIf="rateVal >= 4"class="star2" (click)="rate(4)"></div>
<div *ngIf="rateVal < 5" class="star1" (click)="rate(5)"></div>
<div *ngIf="rateVal >= 5"class="star2" (click)="rate(5)"></div>

